<nav>
    <h4>Mini LMS</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <% if (typeof userType == 'undefined') { %>
            <li><a href="/login">Login</a></li>
        <% } %>
        
        <% if (typeof userType != 'undefined' && userType == 'admin') { %>
            <li><a href="/addMahasiswa">Tambah Mahasiswa</a></li>
            <li><a href="/addDosen">Tambah Dosen</a></li>
            <li><a href="/registerAdmin">Resgister Admin</a></li>
        <% } %>
          
        <% if (typeof userType != 'undefined') { %>
            <li><a href="/logout">Logout</a></li>
        <% } %>
        
    </ul>
</nav>