<nav>
    <h4>Mini LMS</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <% if (typeof userType == 'undefined') { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/registerAdmin">Register Admin</a></li>
        <% } %>
        
        <% if (typeof userType != 'undefined' && userType == 'admin') { %>
            <li><a href="/mahasiswa">Mahasiswa</a></li>
            <li><a href="/dosen">Dosen</a></li>
            <li><a href="/matkul">Mata Kuliah</a></li>
        <% } %>

        <% if (typeof userType != 'undefined' && (userType == 'mahasiswa' || userType == 'dosen')) { %>
            <li><a href="/profile">Profile</a></li>
            
        <% } %>
          
        <% if (typeof userType != 'undefined') { %>
            <li><a href="/logout">Logout</a></li>
        <% } %>
        
    </ul>
</nav>